body {
    margin: 0px;
    background-color: lightcoral;
}
a {
    color: black;
    text-decoration: none;
}
.pad {
    padding: 25px;
}
.header {
    background-color: darkred;
    color: lightblue;
    height: 100px;
    font-size: 36pt;
    text-align: center;
}
.small-header {
    background-color: darkblue;
    color: lightcoral;
    height: auto;
    font-size: 12pt;
    text-align: center;
}
.main {
    background-color: white;
}
.menu {
    background-color: beige;
    vertical-align: left;
}